@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.BackgroundImage {
  background-image: url('./../public/images/04.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ContactImage {
  background-image: url('./../public/images/buildings/02.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #fff;
}

.svgCurve{
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: rgb(47, 1, 71);
  stroke: none;
}